$font-path: "../font/";
$font-name: "fontawesome-webfont";
$icons:(
  excle: f1c3,
  word: f1c2,
  pdf: f1c1,
  spin: f110,
  right: f105,
  left: f104
);

$animates:(
  spin:(
    start: 0deg,
    last: 360deg
  ),
  swing:(
    0: 0deg,
    1: 10deg,
    2: 0deg,
    3: -10deg,
    4: 0deg
  ),
  move:(
    0: 0,
    1: 100%,
    2: 0
  )
);
