
/*
 * WebFontをセットします
 * @desc webフォントの設定用mixin
 * @param $fontName variableで登録した任意の名前
 * @param $path variableで登録した任意の値
 * @param $name variableで登録した任意の値
 */
@mixin fontSet($fontName, $path: $font-path, $name: $font-name) {
  @font-face {
    font-family: '#{$fontName}';
    src: url('#{$path}#{$name}.eot?v=4.3.0');
    src: url('#{$path}#{$name}.eot?#iefix&v=4.3.0') format('embedded-opentype'),
    url('#{$path}#{$name}.woff2?v=4.3.0') format('woff2'),
		url('#{$path}#{$name}.woff?v=4.3.0') format('woff'),
		url('#{$path}#{$name}.ttf?v=4.3.0') format('truetype'),
		url('#{$path}#{$name}.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

/*
 * Iconをセットします
 * @desc webフォントアイコンのです
 * @param $icnName variableで登録した任意の名前
 */
@mixin iconset ($icnName) {
  &::before {
    $name: icon($icnName);
    content: #{$name};
  }
}

/*
 * AnimationMixin
 * @desc CSS3のアニメーション
 * @param $name variableで登録した任意の名前
 */
@mixin animate($name, $prop:transform) {
  &::before {
    animation: $name 1.5s linear infinite;
  }
  @include keys($name, $prop);
}

/*
 * AnimationMixin
 * @desc CSS3のアニメーションキーフレームを利用したもので主に回転系
 * @param $animetionName variableで登録した任意の名前
 * @param $anime variableで登録した任意の配列
 */
@mixin keys($animetionName, $prop: transform, $anime: $animates) {
  @if map-has-key($anime, $animetionName) {
      @keyframes #{$animetionName} {
        @if $animetionName == swing {
          20% {#{$prop}: rotate(#{map-get(map-get($anime, $animetionName), 0)});}
          40% {#{$prop}: rotate(#{map-get(map-get($anime, $animetionName), 1)});}
          60% {#{$prop}: rotate(#{map-get(map-get($anime, $animetionName), 2)});}
          80% {#{$prop}: rotate(#{map-get(map-get($anime, $animetionName), 3)});}
          100% {#{$prop}: rotate(#{map-get(map-get($anime, $animetionName), 4)});}
        }@else if $animetionName == spin {
        	0% {#{$prop}: rotate(#{map-get(map-get($anime, $animetionName), start)});}
        	100% {#{$prop}: rotate(#{map-get(map-get($anime, $animetionName), last)});}
        }@else if $animetionName == move {
          0% {#{$prop}: translate(#{map-get(map-get($anime, $animetionName), 0)}, #{map-get(map-get($anime, $animetionName), 0)});}
          50% {#{$prop}: translate(#{map-get(map-get($anime, $animetionName), 1)}, #{map-get(map-get($anime, $animetionName), 0)});}
          100% {#{$prop}: translate(#{map-get(map-get($anime, $animetionName), 2)}, #{map-get(map-get($anime, $animetionName), 0)});}
        }
      }
  }
}
