@charset "UTF-8";
@font-face {
  font-family: "fontawesome-webfont";
  src: url("../../font/fontawesome-webfont.eot"), url("../../font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/fontawesome-webfont.woff2") format("woff2") url("../../font/fontawesome-webfont.woff") format("woff"), url("../../font/fontawesome-webfont.ttf") format("truetype"), url("../../font/fontawesome-webfont.svg#fontawesomeregular") format("svg");
}
.c-icon__exl:before {
  content: "";
}
